[Unit]
Description=Prompterly Backend API
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/prompterly/public_html
Environment="PATH=/home/prompterly/public_html/.venv/bin"
EnvironmentFile=/home/prompterly/public_html/.env
ExecStart=/home/prompterly/public_html/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
